DATABASE_URL=
DIRECT_URL=
PAYSTACK_SECRET_KEY=
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=
MASTER_SECRET=
ALLOWED_ORIGIN=http://localhost:3000
